<input type="text" placeholder="Введите имя собаки" ng-model="DogName" />
<input type="text" placeholder="Введите номер лицензии или ВПКОС" ng-model="VpkosOrLicenceNumber" />
<input type="text" placeholder="Выберите пол" ng-model="IsMale" />
<input type="text" placeholder="Введите цвет собаки" ng-model="Color" />
<input type="text" placeholder="Введите породу" ng-model="Breed" />
<input type="date" placeholder="Введите дату рождения собаки" ng-model="DateOfBirth " />
<input type="text" placeholder="Введите Id матери Вашей собаки" ng-model="MotherId" />
<input type="text" placeholder="Введите Id отца Вашей собаки" ng-model="FatherId" />
<button class="btn btn-primary" id="addDog" ng-click="addDog(DogName,VpkosOrLicenceNumber,IsMale,Color,Breed,DateOfBirth,MotherId,FatherId)">Добавить собаку</button>
