<div class="row"><input type="text" placeholder="Введите имя собаки" ng-model="DogName" /></div>
<div class="row"><input type="text" placeholder="Введите номер лицензии или ВПКОС" ng-model="VpkosOrLicenceNumber" /></div>
<div class="row"><input type="text" placeholder="Выберите пол" ng-model="IsMale" /></div>
<div class="row"><input type="text" placeholder="Введите цвет собаки" ng-model="Color" /></div>
<div class="row"><input type="text" placeholder="Введите породу" ng-model="Breed" /></div>
<div class="row"><input type="date" placeholder="Введите дату рождения собаки" ng-model="DateOfBirth " /></div>
<div class="row"><input type="text" placeholder="Введите Id матери Вашей собаки" ng-model="MotherId" /></div>
<div class="row"><input type="text" placeholder="Введите Id отца Вашей собаки" ng-model="FatherId" /></div>
<div class="row"><button class="btn btn-primary" id="addDog" ng-click="addDog(DogName,VpkosOrLicenceNumber,IsMale,Color,Breed,DateOfBirth,MotherId,FatherId)">Добавить собаку</button></div>








