<table class="table table-bordered table-striped">

	<tr ng-repeat="Dog in Dogs">
		<td>{{Dog.DogId}}</td>
		<td>{{Dog.DogName}}</td>
		<td>{{Dog.VpkosOrLicenceNumber}}</td>
		<td>{{Dog.DateOfBirth}}</td>
		<td>{{Dog.UserId}}</td>
		<td>{{Dog.FamilyId}}</td>
	</tr>
</table>
hello	