
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>CommonView</title>

	@*<link rel="stylesheet" href="myStyles.css">*@
	
</head>
<body>

	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav navbar-right ">
				<li class="active"><a href="#">Главная</a></li>
				<li><a href="#">Что-нибудь</a></li>
				<li><a href="/judge">Судьи</a></li>
				<li><a href="/user">Профиль</a></li>
			</ul>
		</div>
	</nav>
	@RenderBody()
</body>
</html>
